html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font: normal normal 400;
    font-size: 100%;
    line-height: 1.5em;
    font-family: Avenir, Verdana, sans-serif;
    margin-top: 1em;
    margin-left: 1em;
}
h1, h2, h3, h4 {
    font-weight: 400;
    font-family: Avenir, Cousine, Verdana, sans-serif;
    width: 80%;
}
h1 {
    text-align: left;
    font-size: 3em;
    line-height: 1em;
    position: relative;
    left: 25%;
}
#webaddress {
    margin-top: 1em;
    position: relative;
    left: 25%;
    color: #bc412b;
    font-family: Monaco, Menlo, monospace, sans-serif;
    font-size: 100%;
}
h2 {
    font-size: 1.1em;
    color: #bc412b;
    position: relative;
    top: 1.4em;
    text-align: right;
    width: 20%;
}

h3 {
    font-size: 1em;
    line-height: 2em;
    position: relative;
    top: 1.6em;
    text-align: right;
    width: 20%;
    font-weight: 400;
    font-family: Avenir, Cousine, Verdana, sans-serif;
    margin: 0px;
}
ul {
    position: relative;
    left: 25%;
    width: 75%;
    margin-top: -0.4em;
}
p {
    position: relative;
    left: 25%;
    margin-bottom: 0.5em;
    margin-right: 0;
    width: 55%;
    margin-top: 0px;
}
p code {
    position: absolute;
    text-align: right;
    right: -20%;
}

#webaddress a {
    text-decoration: none;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
}

.socmed:hover{
    opacity: 0.8;
    color: darkblue;
}

a {
    color: inherit;
    /* text-decoration: none; */
}